<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Ordenes</title>
    <script src=""></script>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>

<body>
    <!-- onload="iniciar()" -->

    <div class="container w-75 bg-primary mt-1 rounded shadow">
        <div class="row align-items-stretch">
            <!-- <div class="col bge d-none d-lg-block col-md-5 col-lg-5 col-xl-6">

            </div> -->
            <div class="col bg-white p-2 rounded-end">  <!-- FORMULARIO  -->
                <div class="text-end">
                    <img src="../static/imagenes/24-horas.gif" width="65" alt="">
                </div>

                <h2 class="py-4">Gestión de paquetes - Registro de órdenes (Recogida)</h2>
                <br>
                <!--  LOGIN  -->



            <div class="fw-bold text-center py-4">
                <form action="/procesar/usuario" method="post" class="row g-3">
                    <div class="mb-3 row">
                        <label for="largo" class="col-sm-2 col-form-label">Largo</label>
                        <input class="col-sm-2" type="text" class="form-control" name="txtcorreo" id="largo">
                        <label for="ancho" class="col-sm-2 col-form-label">Ancho</label>
                        <input class="col-sm-2" type="text" class="form-control" name="txtcorreo" id="ancho">
                        <label for="alto" class="col-sm-2 col-form-label">Alto</label>
                        <input class="col-sm-2" type="text" class="form-control" name="txtcorreo" id="alto">
                    </div>
                    <div class="mb-3 row">
                        <label for="peso" class="col-sm-2 col-form-label">Peso</label>
                        <input class="col-sm-2" type="text" class="form-control" name="txtcorreo" id="peso">
                    </div>

                    <div class="col-md-6">
                        <label for="direccion" class="form-label">Dirección de recogida</label>
                        <input type="text" class="form-control" name="textDireccion" id="direccion" placeholder="Ingrese la dirección">
                      </div>
                    <div class="col-md-6">
                      <label for="ciudad" class="form-label">Ciudad de recogida</label>
                      <input type="text" class="form-control" name="textCiudad" id="ciudad" placeholder="Ingrese la ciudad">
                    </div>
                    <div class="col-md-6">
                      <label for="destinatario" class="form-label">Nombre destinatario</label>
                      <input type="text" class="form-control" name="textnombreDestinatario" id="destinatario" placeholder="Nombre Destinatario">
                    </div>
                    <div class="col-md-6">
                      <label for="cedulaDestinatario" class="form-label">Cedula destinatario</label>
                      <input type="text" class="form-control" name="textCedulaDestinatario" id= "cedulaDestinatario" placeholder="Cedula Destinatario">
                    </div>
                    <div class="col-md-6">
                        <label for="DirEntrega" class="form-label">Dirección de entrega</label>
                        <input type="text" class="form-control" name="textDirEntrega" id="DirEntrega" placeholder="Ciudad Entrega">
                    </div>
                    <div class="col-md-6">
                        <label for="ciudadEntrega" class="form-label">Ciudad de entrega</label>
                        <input type="text" class="form-control" name="textCiudadEntrega" id="ciudadEntrega" placeholder="Ciudad Entrega">
                    </div><br><br>

                    <div class="col-12">
                      <input type="submit" value="Crear órden" name="btncrearOrden" class="btn btn-primary">
                    </div>
                  </form>

                </div>  
            </div>
        </div>
    </div>

</body>

</html>